<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Renowned for manufacturing sheet metal deep drawn, stamped parts, TekPressworks Pvt. Ltd. possesses a
                    reputation of being a leader in the industry. Established in 1964( as Tek Industries), the client
                    list
                    of TekPressworks, includes globally reputed organizations such</p>
            </div>
            <div class="col-lg-4">
                <p>as M/s. Mahindra & Mahindra a Major
                    Automobile Manufacturer in India, suppliers to Indian Railways, and Marine Equipment, Powered by a
                    proficient workforce committed to rigorous quality standards, TekPressworks is renowned in
                    satisfying
                    client requirements and delivering perfect products.</p>
            </div>
            <!--<div class="col-lg-4 col-lg-offset-2"></div>
            <p>Renowned for manufacturing sheet metal deep drawn, stamped parts, TekPressworks Pvt. Ltd. possesses a
                reputation of being a leader in the industry. Established in 1964( as Tek Industries), the client list
                of TekPressworks, includes globally reputed organizations such</p>
            <div class="col-lg-4">
                <p>as M/s. Mahindra & Mahindra a Major
                    Automobile Manufacturer in India, suppliers to Indian Railways, and Marine Equipment, Powered by a
                    proficient workforce committed to rigorous quality standards, TekPressworks is renowned in
                    satisfying
                    client requirements and delivering perfect products.</p>
            </div>-->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Company Presentation
                </a>
            </div>
        </div>
    </div>
</section>