<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>TEK Pressworks with the experience of more than 60 years has been a leader in manufacturing sheet
                    metal pressed parts
                    for various industries. We are renowned for manufacturing sheet metal deep drawn components, using a
                    range of methods
                    like cold forming and stamping.</p>
            </div>
            <div class="col-lg-4">
                <p>With over 60 years of experience in the industry, we have established a name for effective time
                    control and cost-saving
                    strategies. We
                    focus our efforts towards the productivity standard in our progress towards creating a perfect
                    product.</p>
            </div>
            <div class="col-lg-4">
                <p>Our skilled personnel is our strength. From operating machines to conducting thorough quality
                    management at every step,
                    our team ensures you receive the best products on every avenue. We orchestrate periodic in-house
                    training to ensure our
                    workers perform and deliver the best quality product.</p>
            </div>
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Company Presentation
                </a>
            </div>-->
        </div>
    </div>
</section>