<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-lg-4 col-lg-offset-2">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div> -->
            <p>TekPressworks with the experience of more than 60 years has been a leader in manufacturing sheet metal
                pressed parts for automobiles, railways, Defense sector and marine industry.</p>

            <p>Our press shop capacity ranges from 30T and it goes up to 450T. So,we are ( well ) equipped to cater to
                and produce a wide array of products that cater toour customer requirements.</p>

            <p>Our varied range hydraulic and mechanical presses ensure that we achieve varied and intricate forms of
                pressed sheet metal products. The hydraulic press varies from 450-ton triple action to 150-ton triple
                action — specialising in deep drawing operations.</p>

            <p>To achieve the required depth and form, of the components we have in our arsenal various double action
                hydraulic deep drawing presses. We actively use our ingenuity and expertise in combining operations and
                reducing the number of operations increasing the product quality and reducing the cost involved.This
                helps in besides reducing cost by reducing the number of man-hours involved, and the investment in the
                dies, molds and also the cost of other equipment involved.</p>

            <p>TekPressworks has established a name for effective time control and cost-saving procedures( strategies ).
                We focus our efforts towards the productivity standard in our progress towards creating a perfect
                product.</p>

            <p>The two essential elements for any production method are powerful time-management and problem-solving
                skills. At TekPressworks, we have established our foundations in terms of training in a manner that
                fosters time-sustaining capabilities. Along with it, we have structures and methods in order to strongly
                deal with any class of product demand and endure any challenge in a competent way.</p>

            <p>Our team is dedicated to practical efficiency through the amalgamation of separate processes into one.
                For usage in selected activities, we have power-press ranging from 2 ton to 150 ton.(, ) to accomplish
                the needed finish, we have state-of-the-art fabricating machines.</p>

            <p>Every product of ours adheres to the international specifications. To us, nothing is more crucial than
                manufacturing a quality product.</p>

            <p>We are strategically located in the heart of Mumbai city, and our 7000 sqft. factory functions optimally
                with a steady supply of resources (electricity, water, and piped CNG). Connected to all forms of public
                Conveyance (Rail, Metro, Bus)</p>

            <p>Our skilled personnel is our strength. From operating machines to conducting thorough quality management
                at every step, our team ensures you receive the best products on every avenue. We orchestrate periodic
                in-house training to ensure our workers perform and deliver the best quality product.</p>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Company Presentation
                </a>
            </div>
        </div>
    </div>
</section>